.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    /* padding: 20px 20px 20px 20px; */
}

.list_header {
    padding-bottom: 30px;
    /* color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account_text {
    font-size: 20px;
}
.unsubscribe_desc {
    font-size: 13px;
    color: green;
    margin-right: 20px;
}
.unsubscribe_desc:hover {
    font-weight: bold;
    color : green;
    text-decoration: underline;
}

.sender_list_container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    /* border: 5px double green; */
    width: 85vw;
}

.sender_list {
    max-height: 70vh;
    overflow-y: auto;
    background-color: rgb(250,250,250);
    border-radius: 10px;
}

.unsubscribe_link {
    color: green;
}

.unsubscribe_link:hover {
    color : green;
    text-decoration: underline;
}
