/* 전체 컨테이너 */
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url("./forest.png"), url("./sunshine.png"); */
    background-image: url("./sg.png");
    /* background-image: url("./forest.png"); */
    background-position: bottom;
    background-size: 100vw 100vh;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* backgroundColor: rgb(171,214,240); */
}
/* .container::before {
    opacity: 0.5;
    content:"";
    opacity:0.5;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: #000;


} */

@keyframes bubble{
    0%{transform:translate(0,0);}
    100%{transform:translate(0,20px);}
 }  


/* 절감한 탄소 배출량 */
.co2Cut {
    font-family: 'Cafe24SsurroundAir';
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 30vh;
    /* background-color: rgb(144, 238, 144, 0.6); */
    background: radial-gradient( rgb(169,218,235), rgb(169,218,235,0.8),rgb(169,218,235,0.4),rgb(0,0,0,0.8));
    border-radius: 30vh;
    color: rgb(73,133,212);
    /* text-shadow: -0.3px 0px gray, 0px 0.3px gray, 0.3px 0px gray, 0px -0.3px gray; */
    font-size: 23px;
    font-weight: bolder;
    padding: 5px;
    margin: 10vh 65vw 0 0;
    /* border: 5px solid white; */
    animation: bubble 2s infinite alternate;  
    z-index: 10;
    /* box-shadow: rgba(200, 200, 200, 0.5) 0px 4px 8px; */
    box-shadow: gray 0px 4px 8px;
}
.desc_box {
    font-family: 'Cafe24SsurroundAir';
    position: absolute;
    top: 20vh;
    left: 60vw;
    /* background-color: rgb(116,183,72,0.3); */
    background: radial-gradient( rgb(169,218,235), rgb(169,218,235,0.8),rgb(169,218,235,0.4),rgb(0,0,0,0.8));
    height: 20vh;
    width: 20vh;
    font-size: 20px;
    color: rgb(73,133,212);
    /* color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20vh;
    z-index: 10;
    box-shadow: gray 0px 4px 8px;
    font-weight: bolder;
    /* animation: bubble 0.5s infinite alternate;   */
}
.desc_box_sprout {
    font-family: 'Cafe24SsurroundAir';
    position: absolute;
    top: 50vh;
    left: 55vw;
    background: radial-gradient( rgb(169,218,235), rgb(169,218,235,0.8),rgb(169,218,235,0.4),rgb(0,0,0,0.8));
    height: 20vh;
    width: 20vh;
    font-size: 20px;
    color: rgb(73,133,212);
    /* color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20vh;
    z-index: 10;
    box-shadow: gray 0px 4px 8px;
    font-weight: bolder;
}

/* 새싹 */
.sprout {
    height: 30vh;
    position: absolute;
    bottom: 10vh;
    z-index: 0;
    /* background-color: rgb(255,255,255,0.5);
    border-radius: 50px; */
    transition: all 0.2s linear;
}
.sprout:hover {
    transform: scale(1.05);
    animation: blink-effect 1s linear infinite;
}

@keyframes vibration {
    from {
      transform: rotate(1deg);
    }
    to {
      transform: rotate(-1deg);
    }
  }


@keyframes blink-effect {
    50% {
      opacity: 0.8;
    }
}
/* 나무 */
.trees {
    height: 80vh;
    position: absolute;
    bottom: 10vh;
    z-index: 10;
    /* animation: vibration 5s infinite alternate; */
    /* border-bottom: 30px dashed white; */
    /* background-color: rgb(255,255,255,0.5); */
    /* border-radius: 50px; */
    transition: all 0.2s linear;
}
.trees:hover {
    transform: scale(1.05);
    animation: blink-effect 1s linear infinite;
}
/* 이름표 */
.ground {
    background-image: url("./picket.png");
    background-position: bottom;
    /* background-size: 100vw 100vh; */
    /* background-size: cover; */
    background-size: 100px 70px;
    background-repeat: no-repeat;
    /* width: 10vw;
    height: 10vh; */
    width: 110px;
    height: 77px;
    position: absolute;
    bottom: 5vh;
    /* box-shadow: 0 0 30px white; */
    /* box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
    background-color: rgb(144, 238, 144, 0.6);
    border-radius: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(93,79,60);
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
    transform: translate(-5px,0);
}

.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
    animation-duration: 1s;
	animation-delay: -0.5s;	
}
.bird_two {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
    animation-duration: 0.9s;
	animation-delay: -0.75s;
}

.bird_container {
	position: absolute;
	top: 20%;
	left: 10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-duration: 15s;
	animation-delay: 0;
}
.bird_container_two {
	position: absolute;
	top: 20%;
	left: 10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-duration: 16s;
	animation-delay: 1s;
}

@keyframes fly-cycle {	
	100% {
		background-position: -900px 0;
	}
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(0);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	30% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	50% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	70% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	90% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	/* 60% {
		transform: translateY(0vh) translateX(100vw) scale(0.6);
	} */
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}

}